#p_top{
    font-weight:bold;
}
body{
    margin-left: 20px;
    margin-right: 20px;
    border: solid black 1px;
    padding: 10px;
}
img {
    width: 200px;
}
a{
    text-decoration: none;
    color: blue;
    font-weight: bold;
}
.green-text{
    color: green;
}
.myDiv {
    border: 5px outset red;
    background-color: lightblue;    
    text-align: center;
    }